@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, and Welcome!</h1>
    <p>This is a simple ASP.NET Core web app that displays the actual server time in the browser.</p>

    <p>The time of the server is: @ViewData["time"].</p>
</div>
